:root {
  --color-primary: #089790;
  --color-secondary: #4a6a67;
  --color-accent: #638381;

  --color-bg: #e9e8e4;
  --color-text: #6f7274;
  --color-light-text: #d8e7e7;
  --color-muted: #b7c5c2;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

input,
textarea {
  background-color: var(--color-accent);
  color: var(--color-light-text);
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 8px;
  color: var(--color-light-text);
}

img {
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

button {
  background-color: var(--color-secondary);
  color: var(--color-light-text);
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s ease;
}

button:hover {
  opacity: 0.8;
}

.book-card {
  background-color: #089790;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: var(--color-light-text);
}

.book-card h3 {
  color: var(--color-light-text);
}
